.loading {
	width: 200px;
	height: 200px;
	background-image: url("/client/load.png");
	background-repeat: no-repeat;
	-webkit-animation-name: rotation;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
}

.folder_icon {
	width: 24px;
	height: 46px;
	background-image: url("/client/folder.png");
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 10px;
}

.feed_icon {
	width: 17px;
	height: 46px;
	background-image: url("/client/feed.png");
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin-left: 10px;
}

.item {
	margin-left: 25px;
}

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
