<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>
		<script src="/client/folder.js"></script>
		<script src="/client/feed.js"></script>
	</head>

	<body>
		<div data-role="page" class="folder_page">
			<div data-role="header" data-position="fixed">
				{{if .Parent}}
				<a href="/folder?key={{.Parent}}" data-icon="back" data-transition="slide" data-direction="reverse">戻る</a>
				{{end}}
				<h1>{{.Title}}</h1>
				<a href="{{.LogoutURL}}" data-icon="delete" class="ui-btn-right">ログアウト</a>
			</div>
			<div data-role="content">
				<ul id="contents" data-role="listview" data-count-theme="c">
					{{$from := .FolderKey}}
					{{range .Children}}
					<li>
						<a href="/{{.ItemType}}?key={{.Key}}&from={{$from}}" data-transition="slide">{{.Item.Title}} {{if .Item.Count}}<span class="ui-li-count">{{.Item.Count}}</span>{{end}}</a>
					</li>
					{{end}}
				</ul>
			</div>
			<div data-role="footer" data-position="fixed">
				<div data-role="navbar">
					<ul>
						<li><a href="#add_form" data-icon="add" id="add" data-rel="popup" data-position-to="window" data-transition="pop">追加</a></li>
						<li><a href="#" id="edit" data-icon="edit">編集</a></li>
						<li><a href="#" data-icon="check">既読化</a></li>
					</ul>
				</div>
				
				<!-- ここから下はボタンを押した時のポップアップ -->
				<div data-role="popup" id="add_form" data-theme="a" style="padding: 10px 20px;">
					<a href="#add_feed" data-role="button" data-theme="b" data-rel="popup" data-position-to="window" data-transition="pop">フィードを追加</a>
					<a href="#add_folder" data-role="button" data-theme="c" data-rel="popup" data-position-to="window" data-transition="pop">フォルダを追加</a>
				</div>
				
				<div data-role="popup" id="add_folder" data-theme="a" style="padding: 10px 20px;">
					<label>フォルダ名</label>
					<input type="text" id="folder_name"></input>
					<input type="hidden" id="folder_key" value="{{.FolderKey}}"></input>
					<input id="add_folder_button" type="button" value="追加する" data-theme="c"></input>
				</div>
				
				<div data-role="popup" id="add_feed" data-theme="a" style="padding: 10px 20px;">
					<label>配信URL(Atom, RSS2.0)</label>
					<input type="text" id="feed_url" value="http://gigazine.net/news/rss_1.0/"></input>
					<input id="add_feed_button" type="button" value="追加する" data-theme="c"></input>
				</div>
			</div>
		</div>
	</body>
</html>